.card{
    flex: 1;
    border-radius: 10px;
    background: #eee;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card--list{
display: flex;
gap: 20px;
flex-wrap: wrap;
}

.card--icon{
    background: #fff;
    width:30px;
    height:30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
     border-radius: 50%;
}

.growth{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 10px;
}

